.wordbox {
    background-color: #6AA964;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    flex-direction: row;
  }
.char {
    color: white;
    font-weight: bold;
    font-size: 42px;
}

@media only screen and (max-width: 420px) {
  .wordbox {
    background-color: #6AA964;
    width: 36px;
    height: 36px;
    margin: 0 1px;
  }

  .char {
    color: white;
    font-weight: bold;
    font-size: 32px;
  }
}